.back-link {
  position: relative;
  display: inline-block;
  padding: 4px 8px;
  margin-top: 32px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #fff;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
  
  &:hover, &:focus {
    background-color: #ffffff3a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    };
}