.form {
    width: 360px;
    padding: 50px 0;
    margin: 0 auto;
}

.form-label {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-input {
    width: 360px;
    margin-top: 16px;
    padding: 8px 16px;
    border: 1px solid;
    border-color: #808080;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
    transition: border-color 250ms ease-in-out;
    outline: none;
    
    &:hover {
        border-color: #000;
    }

    &:focus {
        border-color: #4E75FF;
    }
}


.form-fieldset {
    width: 360px;
    padding: 14px 0 8px 0;
    margin: 0;
    margin-top: 16px;
    border-radius: 4px;
    border: 1px solid #808080;
    transition: border-color 250ms ease-in-out;

    &:hover, &:focus {
        border-color: #000;
    }
}

.fieldset-legend {
    padding: 0 4px;
    display: inline-block;
    text-align: left;
    margin-left: 28px;
    letter-spacing: 0.04em;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.fieldset-label:first-of-type {
    margin-right: 48px;
}

.fieldset-label {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  position: relative;
}

.fieldset-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.fieldset-label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #757575;
    border-radius: 50%;
    background-color: #fff;
    transition: border-color 250ms ease, background-color 250ms ease;
    flex-shrink: 0;
    margin: 9px 0;
}

.fieldset-label:hover::before {
    border-color: #000000;
}

.fieldset-label:has(.fieldset-input:checked)::before {
    border-color: #4e75ff;
    background-image: radial-gradient(circle, #4e75ff 40%, transparent 45%);
}

.submit-button {
    width: 100%;
    padding: 8px 16px;
    margin-top: 24px;
    border-radius: 8px;
    background-color: #4e75ff;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms ease-in-out;

    &:hover {
        background-color: #6c8cff;
    }
}

